@page "/"
@inject HttpClient Http
@inject AppSettings Settings

<div class="row mb-4">
  <ApiKeyAuthComponent Http="@Http" Settings="@Settings" />
</div>

<div class="row mb-4">
  <BasicAuthComponent Http="@Http" Settings="@Settings" />
</div>
@*
<div class="row mb-4">
  <AuthCodeAuthComponent Http="@Http" Settings="@Settings" />
</div>
*@